package pages

import (
	"github.com/Ryan-Har/rharris.dev/src/templates/layouts"
)

templ Projects() {
	@layouts.Layout("Projects") {
		<div class="container px-6 py-3 mx-auto full-height">
			<div class="block">
				@layouts.NavBar()
			</div>
			<div class="block"></div>
		</div>
	}
}
