.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
  }

/* Timeline styles */
.timeline {
  position: relative;
  padding: 2rem 0;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  height: 100%;
  background-color: #dbdbdb;
  transform: translateX(-50%);
  z-index: 1;
}

/* Timeline item styles */
.timeline-item {
  position: relative;
  width: 50%;
  padding: 1rem 0;
}

.timeline-item.is-left {
  padding-right: 2rem;
}

.timeline-item.is-right {
  margin-left: 50%;
  padding-left: 2rem;
}

.timeline-item .card-content {
  text-align: left;
}

.timeline-item .card {
  z-index: 2;
}

.timeline-item.is-left .card {
  margin-left: auto;
}

.timeline-item.is-right .card {
  margin-right: auto;
}